.container {
	width: 100vw;
	height: 30vh;
	background-color: var(--background-blue);
	padding: 1rem 3rem;
	display: flex;
	align-items: center;
	/* gap: 2rem; */
	justify-content: space-between;
}

.logo {
	height: 100%;
	object-fit: contain;
}

.welcomeContainer {
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcomeSubtext {
	font-size: 1.8rem;
	color: var(--text-white);
	font-family: var(--font-text);
	text-align: center;
	width: 45vw;
}

.wannaPlayBtn {
	background-color: var(--text-white);
	color: var(--background-blue);
	font-size: 2rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 32px;
	cursor: pointer;
	transition: all 0.3s;
	display: none;
}

.wannaPlayBtn:hover {
	background-color: var(--background-blue);
	color: var(--text-white);
}

/* iPads, Tablets */
@media screen and (max-width: 880px) {
	.container {
		height: 100vh;
		flex-direction: column;
		padding: 2rem;
		justify-content: space-around;
	}

	.logo {
		height: 35vh;
		align-self: center;
	}

	.welcomeSubtext {
		font-size: 1.7rem;
		width: 60vw;
	}

	.wannaPlayBtn {
		display: inline-block;
		margin-bottom: 48px;
	}
}

/* Mobile */
@media screen and (max-width: 480px) {
	.container {
		padding: 1rem;
	}

	.logo {
		height: 50vh;
	}

	.welcomeSubtext {
		font-size: 1.5rem;
		width: 80vw;
	}
}
